:root {
  --accent-color: #28a745;
  --primary-text-color: #333333;
  --secondary-text-color: #ffffff;
  --text-grey-color: #e9e9e9;
  --hero-background-color: #e5e5e5;
  --transition-function: 250ms linear;
  --conflict: #121212;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--primary-text-color);
  background-color: var(--hero-background-color);
  font-size: 18px;
}

/* Руслан, додавай бокси до кінця наявної CSS розмітки, будь-ласка :) */

/* reset */
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Класс для обнуления базовых свойств у ссылок */
.link {
  text-decoration: none;
  color: inherit;
}

/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Свойства для обнуления курсива у address */

address {
  font-style: normal;
}

.container {
  width: 1360px;
  padding-left: 28px;
  padding-right: 28px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-text-top {
  font-size: 20px;
  line-height: 1.65;
}

.section-text-top-light {
  color: var(--secondary-text-color);
  margin-bottom: 5px;
}

.section-text-top-dark {
  color: var(--primary-text-color);
  margin-bottom: 5px;
}

.section-title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
}

.section-title-light {
  color: var(--secondary-text-color);
  margin-bottom: 26px;
}

.section-title-dark {
  color: var(--primary-text-color);
  margin-bottom: 34px;
}

.section-text {
  line-height: 1.56;
}

.section-text-light {
  color: var(--secondary-text-color);
  margin-bottom: 17px;
}

.section-text-dark {
  color: var(--primary-text-color);
  margin-bottom: 39px;
}

/* header */

.page-header {
  position: absolute;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
}

.header-nav,
.site-logo,
.header-list {
  display: flex;
  align-items: center;
}

.logo-img {
  margin-right: 10px;
}

.logo-accent {
  margin-right: 12px;
}

.header-list {
  margin-left: auto;
  gap: 38px;
}

.logo-accent {
  color: var(--accent-color);
}

.site-logo {
  font-size: 35px;
  line-height: 1.2;
  color: var(--secondary-text-color);
}

.header-nav-link {
  position: relative;
  display: inline-block;
  line-height: 1.56;
  color: var(--secondary-text-color);
  padding-top: 20px;
  padding-bottom: 20px;
  transition: color var(--transition-function);
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--accent-color);
}

.header-nav-link:hover::after,
.header-nav-link:focus::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.header-nav-link::after {
  content: '';
  display: block;
  transition: background-color var(--transition-function);
}

/* hero */
.hero {
  padding-top: 259px;
  padding-bottom: 284px;
  max-width: 1360px;
  margin: 0 auto;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../images/hero/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2f303a;
}

.hero-button,
.solutions-button,
.contact-button {
  font-family: inherit;
  cursor: pointer;
}

.hero-title {
  margin-bottom: 45px;
  font-weight: 300;
  font-size: 55px;
  line-height: 1.2;
  text-align: center;
  color: var(--text-grey-color);
}

.hero-text {
  margin-bottom: 29px;
  font-size: 22px;
  line-height: 1.67;
  text-align: center;
  color: var(--text-grey-color);
}

.hero-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-button {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.56;
  text-align: center;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  border-radius: 5px;
  min-width: 165px;
  height: 48px;
  padding: 0 10px;
  /* padding: 10px 30px; */
  margin: 0 auto;
  transition: background-color var(--transition-function),
    color var(--transition-function);
}

.hero-btn-icon {
  margin-right: 4px;
  fill: currentColor;
}

.hero-button:hover,
.hero-button:focus {
  color: var(--primary-text-color);
  background-color: var(--text-grey-color);
}

/* about */
.about {
  padding: 40px 0 19px 0;
}

.about .container {
  padding: 0 66px;
}

.about-list {
  display: flex;
  align-items: center;
}

.about-item:not(:last-child) {
  margin-right: 71px;
}

.about-icon-wrapper {
  width: 67px;
  height: 67px;
  border-radius: 50%;
  background-color: var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 15px;
}

.about-item-title {
  font-size: 20px;
  line-height: 1.65;
  text-align: center;
  margin-bottom: 16px;
}

.about-text {
  line-height: 1.56;
  text-align: center;
}

/* solutions */
.solutions .container {
  display: flex;
  padding: 0;
}

.solution-wrapper {
  padding: 84px 44px 84px 30px;
  background-color: var(--accent-color);
}

.solutions-button {
  color: var(--secondary-text-color);
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: transparent;
  padding: 11px 27px 12px 47px;
  display: inline-block;
  transition: color var(--transition-function),
    background-color var(--transition-function);
}

.solutions-button:hover,
.solutions-button:focus {
  background-color: var(--hero-background-color);
  color: var(--primary-text-color);
}

/* Business Cases */

.cases {
  padding: 50px 0;
  text-align: center;
}

.cases-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 7px;
  /* 
  margin-right: -8px;
  margin-bottom: -8px; */
}

.cases-list-item {
  /* margin-right: 8px;
  margin-bottom: 8px;
  width: calc((100% - 40px) / 4); */
  width: calc((100% - 24px) / 4);
}
