@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--primary-text-color);
  background-color: var(--hero-background-color);
  font-size: 18px;
}

.header-bgc {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}
