<section class="blog" id="blog">
  <div class="container">
    <div class="blog-wrapper">
      <p class="section-text-top section-text-top-light">April 16 2020</p>
      <h2 class="section-title section-title-light">Blog Post One</h2>
      <p class="section-text section-text-light">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>
      <a href="" class="blog-button link">Read Our Blog</a>
    </div>
    <img class="blog-img" src="./images/blog/blog-post-1.jpg"
      alt="notebook, notedpad, pencil and a cup of coffee on the table" width="680" height="517" loading="lazy" />
  </div>
</section>