<section class="cases">
  <div class="container">
    <p class="section-text-top section-text-top-dark">This is what we do</p>
    <h2 class="section-title section-title-dark">Business Cases</h2>
    <p class="section-text section-text-dark">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="cases-list list">
      <li class="cases-list-item">
        <img
          class="cases-img"
          src="./images/busines-cases/case-1.jpg"
          alt="photo of the team discussing the order"
          width="320"
          height="214"
          loading="lazy"
        />
      </li>
      <li class="cases-list-item">
        <img
          class="cases-img"
          src="./images/busines-cases/case-2.jpg"
          alt="photo of a woman working on a macbook"
          width="320"
          height="214"
          loading="lazy"
        />
      </li>
      <li class="cases-list-item">
        <img
          class="cases-img"
          src="./images/busines-cases/case-3.jpg"
          alt="photo analysis of work according to diagrams"
          width="320"
          height="214"
          loading="lazy"
        />
      </li>
      <li class="cases-list-item">
        <img
          class="cases-img"
          src="./images/busines-cases/case-4.jpg"
          alt="photo of skyscrapers"
          width="320"
          height="214"
          loading="lazy"
        />
      </li>
      <li class="cases-list-item">
        <img
          class="cases-img"
          src="./images/busines-cases/case-5.jpg"
          alt="photo of two people shaking hands"
          width="320"
          height="214"
          loading="lazy"
        />
      </li>
      <li class="cases-list-item">
        <img
          class="cases-img"
          src="./images/busines-cases/case-6.jpg"
          alt="photo team and women with glasses"
          width="320"
          height="214"
          loading="lazy"
        />
      </li>
      <li class="cases-list-item">
        <img
          class="cases-img"
          src="./images/busines-cases/case-7.jpg"
          alt="photo of people putting their hands together"
          width="320"
          height="214"
          loading="lazy"
        />
      </li>
      <li class="cases-list-item">
        <img
          class="cases-img"
          src="./images/busines-cases/case-8.jpg"
          alt="photo of people working on a laptop and smiling"
          width="320"
          height="214"
          loading="lazy"
        />
      </li>
    </ul>
  </div>
</section>
