<section class="contact">
  <div class="container contact-wrapper">
    <img
      class="contact-img"
      src="./images/contact-form/contact-form-1.jpg"
      alt="man over notebook"
      width="680"
      height="460"
      loading="lazy"
    />
    <div class="contact-form-wrapper">
      <form name="contact_form" autocomplete="on" class="contact-form">
        <h2 class="section-title section-title-dark">Request Callback</h2>

        <label>
          <input
            type="text"
            name="user-name"
            class="contact-input"
            placeholder="Enter your name"
          />
        </label>

        <label>
          <input
            type="email"
            name="user-email"
            class="contact-input contact-input-bottom"
            placeholder="Enter email*"
            required
          />
        </label>

        <button type="submit" class="contact-btn">Submit</button>
      </form>
    </div>
  </div>
</section>
