<footer class="footer ">
  <div class="container">
    <ul class="icon-list list">
      <li class="icon-item icon footer-icon-list">
        <a href="" class="icon-link">
          <svg aria-label="Facebook icon" class="icon-img" height="35">
            <use href="./images/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="icon-item icon">
        <a href="" class="icon-link">
          <svg aria-label="Twitter icon" class="icon-img" height="35">
            <use href="./images/sprite.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
      <li class="icon-item icon">
        <a href="" class="icon-link">
          <svg aria-label="YouTube icon" class="icon-img" height="35">
            <use href="./images/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
      <li class="icon-item icon">
        <a href="" class="icon-link">
          <svg aria-label="LinkedIn icon" class="icon-img" height="35">
            <use href="./images/sprite.svg#icon-linkedin"></use>
          </svg>
        </a>
      </li>
    </ul>
    <p class="footer-text">Copyright &copy; 2022 - FinanceLedger</p>
  </div>
</footer>