<header class="page-header" id="header">
  <div class="container">
    <!-- Navigation -->
    <nav class="header-nav">
      <a class="site-logo link animate__animated animate__flash" href="./index.html">
        <img class="logo-img" src="./images/logo/logo.svg" alt="Finance Ledger Logo" />
        <span class="logo-accent">Finance </span>Ledger
      </a>
      <ul class="header-list list">
        <li class="header-item">
          <a class="header-nav-link link" href="#hero">Home</a>
        </li>
        <li class="header-item">
          <a class="header-nav-link link" href="#about">About</a>
        </li>
        <li class="header-item">
          <a class="header-nav-link link" href="#cases">Cases</a>
        </li>
        <li class="header-item">
          <a class="header-nav-link link" href="#blog">Blog</a>
        </li>
        <li class="header-item">
          <a class="header-nav-link link" href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>