<section class="slick">
  <div class="container">
    <ul class="slick-js">
      <li>
        <h3 class="post-title">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias dolorum nesciunt quaerat
          ad, debitis fugit in
          voluptates perferendis deserunt optio quod veniam tempora! Odio facere veniam nulla saepe nam pariatur
          expedita
          eos ipsam nemo aperiam amet est deleniti repudiandae assumenda quod consectetur cum ad eligendi illum, quos
          animi! Quos, quaerat.</h3>
      </li>

      <li>
        <h3 class="post-title">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias dolorum nesciunt quaerat
          ad, debitis fugit in
          voluptates perferendis deserunt optio quod veniam tempora! Odio facere veniam nulla saepe nam pariatur
          expedita
          eos ipsam nemo aperiam amet est deleniti repudiandae assumenda quod consectetur cum ad eligendi illum, quos
          animi! Quos, quaerat.</h3>
      </li>

      <li>
        <h3 class="post-title">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias dolorum nesciunt quaerat
          ad, debitis fugit in
          voluptates perferendis deserunt optio quod veniam tempora! Odio facere veniam nulla saepe nam pariatur
          expedita
          eos ipsam nemo aperiam amet est deleniti repudiandae assumenda quod consectetur cum ad eligendi illum, quos
          animi! Quos, quaerat.</h3>
      </li>

      <li>
        <h3 class="post-title">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias dolorum nesciunt quaerat
          ad, debitis fugit in
          voluptates perferendis deserunt optio quod veniam tempora! Odio facere veniam nulla saepe nam pariatur
          expedita
          eos ipsam nemo aperiam amet est deleniti repudiandae assumenda quod consectetur cum ad eligendi illum, quos
          animi! Quos, quaerat.</h3>
      </li>

      <li>
        <h3 class="post-title">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias dolorum nesciunt quaerat
          ad, debitis fugit in
          voluptates perferendis deserunt optio quod veniam tempora! Odio facere veniam nulla saepe nam pariatur
          expedita
          eos ipsam nemo aperiam amet est deleniti repudiandae assumenda quod consectetur cum ad eligendi illum, quos
          animi! Quos, quaerat.</h3>
      </li>

      <li>
        <h3 class="post-title">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias dolorum nesciunt quaerat
          ad, debitis fugit in
          voluptates perferendis deserunt optio quod veniam tempora! Odio facere veniam nulla saepe nam pariatur
          expedita
          eos ipsam nemo aperiam amet est deleniti repudiandae assumenda quod consectetur cum ad eligendi illum, quos
          animi! Quos, quaerat.</h3>
      </li>
    </ul>
  </div>
</section>