<section class="team">
  <div class="container team-container">
    <p class="section-text-top section-text-top-dark team-text">Who we are</p>
    <h2 class="section-title section-title-dark team-title">
      Our Professional Team
    </h2>
    <p class="section-text section-text-dark team-text-main">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
      sapiente!
    </p>
    <ul class="team-list list">
      <li class="team-item">
        <img
          class="team-img"
          src="./images/team/team-1.jpg"
          alt="John Doe"
          width="420"
          height="280"
          loading="lazy"
        />
        <h3 class="team-member">John Doe</h3>
        <p class="team-role">President</p>
      </li>

      <li class="team-item">
        <!-- Увага! Тут полетіло вирівнювання, не спрацював Prettier -->
        <div class="team-icon-list">
          <ul class="icon-list list">
            <li class="icon-item icon">
              <a href="" class="icon-link">
                <svg aria-label="Facebook icon" class="icon-img" height="35">
                  <use href="./images/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="icon-item icon">
              <a href="" class="icon-link">
                <svg aria-label="Twitter icon" class="icon-img" height="35">
                  <use href="./images/sprite.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="icon-item icon">
              <a href="" class="icon-link">
                <svg aria-label="YouTube icon" class="icon-img" height="35">
                  <use href="./images/sprite.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
            <li class="icon-item icon">
              <a href="" class="icon-link">
                <svg aria-label="LinkedIn icon" class="icon-img" height="35">
                  <use href="./images/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <img
          class="team-img"
          src="./images/team/team-2.jpg"
          alt="Jane Doe"
          width="420"
          height="280"
          loading="lazy"
        />
        <h3 class="team-member">Jane Doe</h3>
        <p class="team-role">Vice President</p>
      </li>

      <li class="team-item">
        <img
          class="team-img"
          src="./images/team/team-3.jpg"
          alt="Steve Smith"
          width="420"
          height="280"
          loading="lazy"
        />
        <h3 class="team-member">Steve Smith</h3>
        <p class="team-role">Marketing Head</p>
      </li>
    </ul>
  </div>
</section>
