.section-text {
  line-height: 1.56;
}

.section-text-light {
  color: var(--secondary-text-color);
  margin-bottom: 17px;
}

.section-text-dark {
  color: var(--primary-text-color);
  margin-bottom: 39px;
}
