.contact-wrapper {
  display: flex;
  padding: 0px;
}

.contact-form-wrapper {
  width: 680px;
  padding: 78px 30px 82px 30px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-input {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;

  padding-top: 6px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 36px;

  width: 100%;
  border: transparent;
}

.contact-input-bottom {
  margin-bottom: 60px;
}

.contact-btn {
  color: var(--secondary-text-color);
  font-family: 'Open Sans';
  font-size: 18px;
  line-height: 1.38;
  background-color: var(--accent-color);
  border: transparent;
  border-radius: 5px;
  padding-top: 7px;
  padding-bottom: 10px;
}
